# SUPABASE
# Section 1
DATABASE_URL="postgresql://postgres.USERNAME:PASSWORD@LOCATION.pooler.supabase.com:PORT/postgres"
JWT_SECRET="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA+AAAAAAAAAAAAAAAAA=="

# --------
PUBLIC_DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
# --------

# Ratelimits
UPSTASH_REDIS_REST_URL="https://AAAAAA-AAAAA-38294.upstash.io"
UPSTASH_REDIS_REST_TOKEN="AAAAAAAAAAAAAAAAAA"

# MinIO
MINIO_ENDPOINT="localhost"
MINIO_ACCESS_KEY="AAAAAAAAAAAAAAAA"
MINIO_SECRET_KEY="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
S3_BUCKET_NAME="lyntr"
PUBLIC_CDN_URL="http://localhost:9000" # You probably shouldn't change this unless you're running in production, in that case it'd be something like https://cdn.example.com

# ================= OPTIONAL =================
# DISCORD | CAN BE LEFT EMPTY IF YOU DON'T NEED REPORTING SYSTEM / VERIFYING COMMAND
DISCORD_BOT_TOKEN="AAAAAAAAAAAA.AAAAAAA.AAAAAAAAAAAAAA_AAAAAAAA"
DISCORD_CHANNEL_ID="9999999999999999" # Channel to send reports to
ADMIN_KEY="AAAAAAAAAAAAAAAAAAAAAA" # Key to communicate between the API and the bot. Required for endpoint /verify & /ban
API_BASE_URL="http://localhost:5173" # The API URL (usually port 5173)
SUDO_USER_ID="AAAAAAAAAAAAAAAAAAA" # The (valid) Lyntr user ID to use as an "agent" when fetching Lynt content for reporting. (since views must count regardless)
DISCORD_ADMIN_ROLE="9999999999999999" # Only users with this role can use /verify or ban users.
